# Ignore artifacts:
build
coverage
node_modules
.turbo
.next
.changeset
.vscode
.DS_Store
.env
.env.local

pnpm-workspace.yaml
pnpm-lock.yaml

README
README.md
LICENSE
CHANGELOG.md

packages/react/dist
packages/react/node_modules
packages/server/dist
packages/server/node_modules
packages/shared/dist
packages/shared/node_modules
