@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  transition: background-color 0.3s ease;
  /* TODO: change to "rgb(var(--background))" - right now, hardcoded because this doesn't consider .dark (?) */
  background: '#1b1b1b';
  overscroll-behavior: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: inherit; */
    -webkit-text-fill-color: var(--foreground) !important;
    background-color: transparent !important;
    -webkit-background-clip: text !important;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
  }

  :root {
    /* Internals */
    --list-item-background-hover: #2c2c2c;
    --shadow-low: 0px 1px 8px 0px var(--shadow-weak);
    --shadow-medium: 0px 4px 20px 0px var(--shadow-weak);
    --shadow-medium-diffuse: 20px 20px 20px 20px var(--shadow-weak);
    --shadow-high: 0px 1px 8px 0px var(--shadow),
      0px 16px 40px 0px var(--shadow-strong);
    --background: #2b2b2b;
    --disabled: #1f1f1f;
    --overlay: rgba(11, 7, 7, 0.5);
    --background-input: #2b2b2b;
    --border-default: #2b2b2b;

    --container: #000000;
    --container-high: #363636;

    --inverse: #dedede;
    --on-inverse: #070707;

    --foreground: #d2d2d2;
    --secondary: #939393;
    --subtle: #6c6c6c;
    --on-disabled: #4b4b4b;
    --stroke: #2b2b2b;
    --stroke-strong: #4b4b4b;
    --stroke-subtle: #363636;
    --stroke-disabled: #1f1f1f;
    --stroke-inverse: #4b4b4b;

    --primary-accent: #000000;
    --primary-container: #060606;
    --stroke-primary: #606060;
    --primary: #f9f9f9;
    --on-primary: #000000;
    --on-primary-container: #acacac;
    --primary-strong: #606060;

    --primary-hover: #797979;
    --on-primary-hover: #f9f9f9;

    --primary-pressed: #6c6c6c;
    --on-primary-pressed: #f9f9f9;

    --neutral-accent: #141414;
    --neutral-container: #292929;
    --neutral-stroke: #656565;
    --neutral: #939393;
    --on-neutral: #2b2b2b;
    --on-neutral-container: #dedede;

    --neutral-hover: #ebebeb;
    --on-neutral-hover: #0a0a0a;

    --neutral-pressed: #cfcfcf;
    --on-neutral-pressed: #000000;

    --success-accent: #00150c;
    --success-container: #002c1d;
    --stroke-success: #006c4c;
    --success: #00a575;
    --on-success: white;
    --on-success-container: #4edea7;
    --success-strong: #005138;

    --success-hover: #005138;
    --on-success-hover: white;

    --success-pressed: #00452f;
    --on-success-pressed: white;

    --warning-accent: #141100;
    --warning-container: #2c2600;
    --stroke-warning: #6a5f00;
    --warning: #867800;
    --on-warning: white;
    --on-warning-container: #dec800;
    --warning-status: #504700;

    --warning-hover: #504700;
    --on-warning-hover: white;

    --warning-pressed: #443c00;
    --on-warning-pressed: white;

    --danger-accent: #2e0001;
    --danger-container: #520003;
    --stroke-danger: #bb1b1b;
    --danger: #ff5447;
    --on-danger: white;
    --on-danger-container: #ffb6ad;
    --danger-strong: #bb1b1b;

    --danger-hover: #94000a;
    --on-danger-hover: white;

    --danger-pressed: #800006;
    --on-danger-pressed: white;

    --info-accent: #000f2e;
    --info-container: #002357;
    --stroke-info: #005ac7;
    --info: #528bff;
    --on-info: white;
    --on-info-container: #fbfaff;
    --info-strong: #005ac7;

    --info-hover: #004299;
    --on-info-hover: white;

    --info-pressed: #003780;
    --on-info-pressed: white;

    --shadow-weak: rgba(0, 0, 0, 0.07);
    --shadow: rgba(0, 0, 0, 0.2);
    --shadow-strong: rgba(0, 0, 0, 0.25);

    --radius-xs: 6px;
    --radius-sm: 8px;
    --radius: 10px;
    --radius-md: 12px;
    --radius-lg: 16px;
  }

  .dark {
    --internal: #1b1b1b;
    --nav: #1b1b1b;

    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background: #1b1b1b;
    --disabled: #1f1f1f;
    --overlay: rgba(11, 7, 7, 0.5);
    --container: #000000;
    --container-high: #363636;
    --inverse: #dedede;
    --on-inverse: #070707;
    --foreground: #d2d2d2;
    --secondary: #939393;
    --subtle: #6c6c6c;
    --on-disabled: #4b4b4b;
    --stroke: #2b2b2b;
    --stroke-strong: #4b4b4b;
    --stroke-subtle: #363636;
    --stroke-disabled: #1f1f1f;
    --stroke-inverse: #4b4b4b;
    --primary-accent: #000000;
    --primary-container: #060606;
    --stroke-primary: #606060;
    --primary: #f9f9f9;
    --on-primary: #000000;
    --on-primary-container: #acacac;
    --primary-strong: #606060;
    --primary-hover: #797979;
    --on-primary-hover: #f9f9f9;
    --primary-pressed: #6c6c6c;
    --on-primary-pressed: #f9f9f9;
    --neutral-accent: #141414;
    --neutral-container: #292929;
    --neutral-stroke: #656565;
    --neutral: #939393;
    --on-neutral: #2b2b2b;
    --on-neutral-container: #dedede;
    --neutral-hover: #ebebeb;
    --on-neutral-hover: #0a0a0a;
    --neutral-pressed: #cfcfcf;
    --on-neutral-pressed: #000000;
    --success-accent: #00150c;
    --success-container: #002c1d;
    --stroke-success: #006c4c;
    --success: #00a575;
    --on-success: #ffffff;
    --on-success-container: #4edea7;
    --success-strong: #005138;
    --success-hover: #005138;
    --on-success-hover: #ffffff;
    --success-pressed: #00452f;
    --on-success-pressed: #ffffff;
    --warning-accent: #141100;
    --warning-container: #2c2600;
    --stroke-warning: #6a5f00;
    --warning: #867800;
    --on-warning: #ffffff;
    --on-warning-container: #dec800;
    --warning-status: #504700;
    --warning-hover: #504700;
    --on-warning-hover: #ffffff;
    --warning-pressed: #443c00;
    --on-warning-pressed: #ffffff;
    --danger-accent: #2e0001;
    --danger-container: #520003;
    --stroke-danger: #bb1b1b;
    --danger: #ff5447;
    --on-danger: #ffffff;
    --on-danger-container: #ffb6ad;
    --danger-strong: #bb1b1b;
    --danger-hover: #94000a;
    --on-danger-hover: #ffffff;
    --danger-pressed: #800006;
    --on-danger-pressed: #ffffff;
    --info-accent: #000f2e;
    --info-container: #002357;
    --stroke-info: #005ac7;
    --info: #528bff;
    --on-info: #ffffff;
    --on-info-container: #fbfaff;
    --info-strong: #005ac7;
    --info-hover: #004299;
    --on-info-hover: #ffffff;
    --info-pressed: #003780;
    --on-info-pressed: #ffffff;
    --shadow-weak: rgba(0, 0, 0, 0.2);
    --shadow: rgba(0, 0, 0, 0.45);
    --shadow-strong: rgba(0, 0, 0, 0.7);
  }
}

@layer components {
  .primary-focus {
    outline: none;
    /* box-shadow: 0px 0px 0px 3px var(--primary-container); */
  }

  .neutral-focus {
    outline: none;
    /* box-shadow: 0px 0px 0px 3px var(--neutral-container); */
  }

  .danger-focus {
    outline: none;
    /* box-shadow: 0px 0px 0px 3px var(--danger-container); */
  }
}

.tiptap {
  :first-child {
    margin-top: 0;
  }
  &:focus-visible {
    outline: none;
  }
}

input:-internal-autofill-selected {
  background-color: var(--background-input) !important;
}

input:-webkit-autofill {
  background-color: var(--background-input) !important;
}

input {
  -webkit-text-fill-color: inherit !important;
}
